### Аннтоация для процеряющего

В предыдущем ноутбуке мы подготовили данны на английском языке.
В этом ноутбуке мы векторизуем даныне.

Мы испольузем два подхода к векторизации:
    glove
    sentence bert
при этом будем хранить в одном нотубуке оба набора полей.

In [1]:
pwd

'C:\\Users\\satyr\\Documents\\edu\\nlp2\\hw1'

In [2]:
import pandas as pd
import numpy as np
import csv
import os

#### 1) Glove-векторизация

In [13]:
# импотируем свой модуль, не внося постоянные изменения в path
import sys
sys.path.append("C:\\Users\\satyr\\Documents\\edu\\nlp2\\hw1\\")
from my_tokenize_vectorize import Tokenizer, Glove_vectorizer, SentBERT_vectorizer

tk = Tokenizer('wordpunct_tokenize', lower = True)
v = Glove_vectorizer(dim = 50, path_to_emb_folder = "C:\\Users\\satyr\\Documents\\edu\\nlp2\\hw1\\data")
print(tk.tokenize_corpus(corpus=['test! test... Test', np.nan]))
print(v.vectorize_tokens(tk.tokenize_corpus(corpus=['test! test... Test', np.nan]), 'avg'))
# видим, что приведение к нижнему регистру и токенизация работают и вакторизация работают

[['test', '!', 'test', '...', 'test'], ['nan']]
[array([-7.340800e-02,  8.534000e-03,  9.847920e-02,  3.391800e-02,
        2.411000e-02, -6.095600e-02,  1.384000e-01, -1.513906e-01,
        8.705340e-01,  3.291720e-01, -3.731000e-02,  1.274720e-01,
       -7.757520e-01,  2.586440e-02,  3.905036e-01,  1.969614e-01,
        2.537880e-01, -9.060200e-02, -1.092836e+00, -3.475260e-01,
       -2.583238e-01,  4.889400e-01,  6.482980e-01, -2.255600e-02,
        6.670440e-01, -1.606600e+00, -4.698182e-01, -1.470380e-01,
        1.048900e-01, -2.829720e-01,  2.833420e+00,  4.274160e-01,
       -7.524740e-01, -1.413600e-01,  5.324380e-01, -1.111954e-01,
        1.244022e+00,  2.386660e-01, -2.032772e-01, -5.123524e-01,
       -1.610000e-03, -2.870964e-01, -9.301800e-02,  2.557922e-01,
        3.026974e-01,  8.703960e-01,  3.683180e-01,  3.772240e-01,
        4.703900e-01,  1.513260e-01])]

In [8]:
df = pd.read_excel('C:\\Users\\satyr\\Documents\\edu\\nlp2\\hw1\\data\\eng_script_enriched_2.xlsx')

In [9]:
print(df.shape)
print(df.columns)
print(df.info())
display(df.describe())
display(df.describe(include=object))
display(df.head(3))
display(df.tail(3))

(47790, 17)
Index(['series_num', 'ep_num', 'ep_name', 'phrase_rank', 'person', 'text',
       'person_orig', 'person_context', 'scene_context', 'text_5_prev',
       'person_5_prev', 'person_2_prev', 'text_1_shift', 'text_2_shift',
       'text_3_shift', 'text_4_shift', 'text_5_shift'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47790 entries, 0 to 47789
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   series_num      47790 non-null  int64
 1   ep_num          47790 non-null  int64
 2   ep_name         47790 non-null  object
 3   phrase_rank     47790 non-null  int64
 4   person          47790 non-null  object
 5   text            47786 non-null  object
 6   person_orig     47790 non-null  object
 7   person_context  1114 non-null   object
 8   scene_context   47790 non-null  object
 9   text_5_prev     47770 non-null  object
 10  person_5_prev   47790 non-null  object
 11  person_2_prev   47790 non-null  object
 12  text_1_shift    46890 non-null  object
 13  text_2_shift    46025 non-null  object
 14  text_3_shift    45177 non-null  object
 15  text_4_shift    44358 non-null  object
 16  text_5_shift    43558 non-null  object
dtypes: int64(3), object(14)
memory usage: 6.2+ MB
None

         series_num        ep_num   phrase_rank
count  47790.000000  47790.000000  47790.000000
mean       5.891630     12.402134    117.992216
std        2.731414      6.787104     69.354258
min        1.000000      1.000000      0.000000
25%        4.000000      7.000000     58.000000
50%        6.000000     13.000000    117.000000
75%        8.000000     18.000000    176.000000
max       10.000000     24.000000    285.000000

                       ep_name   person  ... text_4_shift text_5_shift
count                    47790    47790  ...        44358        43558
unique                     215        8  ...        39614        38906
top     the zazzy substitution  Sheldon  ...        What?        What?
freq                       272    10651  ...          244          243

[4 rows x 14 columns]

   series_num  ep_num  ... text_4_shift  text_5_shift
0           1      10  ...          NaN           NaN
1           1      10  ...          NaN           NaN
2           1      10  ...          NaN           NaN

[3 rows x 17 columns]

       series_num  ...                                       text_5_shift
47787          10  ...  Uh, breakfast yes, lunch no. I did have a coug...
47788          10  ...               Well, perfect. I made us sandwiches.
47789          10  ...                                                NaN

[3 rows x 17 columns]

In [10]:
with open('data/glove.6B.50d.txt') as f:
    print(f.readline())
    print(f.readline())
    print(f.readline())

the 0.418 0.24968 -0.41242 0.1217 0.34527 -0.044457 -0.49688 -0.17862 -0.00066023 -0.6566 0.27843 -0.14767 -0.55677 0.14658 -0.0095095 0.011658 0.10204 -0.12792 -0.8443 -0.12181 -0.016801 -0.33279 -0.1552 -0.23131 -0.19181 -1.8823 -0.76746 0.099051 -0.42125 -0.19526 4.0071 -0.18594 -0.52287 -0.31681 0.00059213 0.0074449 0.17778 -0.15897 0.012041 -0.054223 -0.29871 -0.15749 -0.34758 -0.045637 -0.44251 0.18785 0.0027849 -0.18411 -0.11514 -0.78581

, 0.013441 0.23682 -0.16899 0.40951 0.63812 0.47709 -0.42852 -0.55641 -0.364 -0.23938 0.13001 -0.063734 -0.39575 -0.48162 0.23291 0.090201 -0.13324 0.078639 -0.41634 -0.15428 0.10068 0.48891 0.31226 -0.1252 -0.037512 -1.5179 0.12612 -0.02442 -0.042961 -0.28351 3.5416 -0.11956 -0.014533 -0.1499 0.21864 -0.33412 -0.13872 0.31806 0.70358 0.44858 -0.080262 0.63003 0.32111 -0.46765 0.22786 0.36034 -0.37818 -0.56657 0.044691 0.30392

. 0.15164 0.30177 -0.16763 0.17684 0.31719 0.33973 -0.43478 -0.31086 -0.44999 -0.29486 0.16608 0.11963 -0.41328 -0.42353 0.59868 0.28825 -0.11547 -0.041848 -0.67989 -0.25063 0.18472 0.086876 0.46582 0.015035 0.043474 -1.4671 -0.30384 -0.023441 0.30589 -0.21785 3.746 0.0042284 -0.18436 -0.46209 0.098329 -0.11907 0.23919 0.1161 0.41705 0.056763 -6.3681e-05 0.068987 0.087939 -0.10285 -0.13931 0.22314 -0.080803 -0.35652 0.016413 0.10216

In [14]:
def tokenize_vectorize(corp):
    try: 
        return v.vectorize_tokens(tk.tokenize_corpus(corp))
    except: 
        print(corp)
        import sys
        sys.exit()

prefix = v.col_prefix
for col in ['text', 'text_1_shift', 'text_2_shift', 'text_3_shift', 'text_4_shift', 'text_5_shift']:
    df[f"{prefix}v_{col}"] = df[col].apply(lambda text: tokenize_vectorize([text])[0])
    print(f"{prefix}v_{col} tokenized and vectorized" )

glove_v_text tokenized and vectorized
glove_v_text_1_shift tokenized and vectorized
glove_v_text_2_shift tokenized and vectorized
glove_v_text_3_shift tokenized and vectorized
glove_v_text_4_shift tokenized and vectorized
glove_v_text_5_shift tokenized and vectorized

In [15]:
df.loc[:, 'glove_v_text_1_shift'][0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [25]:
df.head(3)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\satyr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

   series_num  ...                               glove_v_text_5_shift
0           1  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1           1  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2           1  ...  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...

[3 rows x 23 columns]

In [17]:
v.clear_class_memory()

In [24]:
# мы векторизовали предобученным Glove наш корпус, сохраним результат в датафрейм
# в виде pickle чтобы сохранить типы данных
# df.to_excel('data/eng_script_vectorized.xlsx', header=True, index=False)
df.to_pickle(path = 'data/eng_script_vectorized.pkl')

#### 2) Векторизация SentBERT

In [1]:
# импотируем свой модуль, не внося постоянные изменения в path
import sys
import numpy as np
import pandas as pd
sys.path.append("C:\\Users\\satyr\\Documents\\edu\\nlp2\\hw1\\")
from my_tokenize_vectorize import Tokenizer, SentBERT_vectorizer
from sentence_transformers import SentenceTransformer
# используем дообученную на трипл лосс модель: triple-20e-1000-fit-all-mpnet-base-v2
# v = SentenceTransformer('all-mpnet-base-v2') # модель без дообучения
v = SentenceTransformer('model\\triple-20e-1000-fit-all-mpnet-base-v2')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\satyr\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
df = pd.read_pickle('data/eng_script_vectorized.pkl')

In [3]:
df.shape

(47790, 23)

In [4]:
prefix = 'sbert_'
print(prefix)
# ВЕРНИ В СПИСОК НИЖЕ 'text'
for col in ['text_1_shift', 'text', 'text_2_shift', 'text_3_shift', 'text_4_shift', 'text_5_shift']:
    df[f"{prefix}v_{col}"] =  [i for i in v.encode(df[col].apply(lambda x: str(x)).to_list(), show_progress_bar=True, batch_size = 100, normalize_embeddings = True)]
    print(f"{prefix}v_{col} tokenized and vectorized" )

sbert_

Batches:   0%|          | 0/478 [00:00<?, ?it/s]

sbert_v_text_1_shift tokenized and vectorized

Batches:   0%|          | 0/478 [00:00<?, ?it/s]

sbert_v_text tokenized and vectorized

Batches:   0%|          | 0/478 [00:00<?, ?it/s]

sbert_v_text_2_shift tokenized and vectorized

Batches:   0%|          | 0/478 [00:00<?, ?it/s]

sbert_v_text_3_shift tokenized and vectorized

Batches:   0%|          | 0/478 [00:00<?, ?it/s]

sbert_v_text_4_shift tokenized and vectorized

Batches:   0%|          | 0/478 [00:00<?, ?it/s]

sbert_v_text_5_shift tokenized and vectorized

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47790 entries, 0 to 47789
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   series_num            47790 non-null  int64
 1   ep_num                47790 non-null  int64
 2   ep_name               47790 non-null  object
 3   phrase_rank           47790 non-null  int64
 4   person                47790 non-null  object
 5   text                  47786 non-null  object
 6   person_orig           47790 non-null  object
 7   person_context        1114 non-null   object
 8   scene_context         47790 non-null  object
 9   text_5_prev           47770 non-null  object
 10  person_5_prev         47790 non-null  object
 11  person_2_prev         47790 non-null  object
 12  text_1_shift          46890 non-null  object
 13  text_2_shift          46025 non-null  object
 14  text_3_shift          45177 non-null  object
 15  text_4_shift          44358 non-null  object
 16  text_5_shift          43558 non-null  object
 17  glove_v_text          47790 non-null  object
 18  glove_v_text_1_shift  47790 non-null  object
 19  glove_v_text_2_shift  47790 non-null  object
 20  glove_v_text_3_shift  47790 non-null  object
 21  glove_v_text_4_shift  47790 non-null  object
 22  glove_v_text_5_shift  47790 non-null  object
 23  sbert_v_text_1_shift  47790 non-null  object
 24  sbert_v_text          47790 non-null  object
 25  sbert_v_text_2_shift  47790 non-null  object
 26  sbert_v_text_3_shift  47790 non-null  object
 27  sbert_v_text_4_shift  47790 non-null  object
 28  sbert_v_text_5_shift  47790 non-null  object
dtypes: int64(3), object(26)
memory usage: 10.6+ MB

In [6]:
df.to_pickle(path = 'data/eng_script_vectorized_v3.pkl')